.custom-dropdown {
  position: relative;
  display: inline-block;
  min-width: 250px;
  .selected-option {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }

    .arrow-icon {
      float: right;

      &.up::after {
        content: '\25B2'; /* Unicode up arrow character */
      }

      &.down::after {
        content: '\25BC'; /* Unicode down arrow character */
      }
    }
  }

  .options {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    width: 100%;
    overflow-y: auto;
    z-index: 10;
    input {
      margin: 5px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: #fff;
      
      &:hover, &:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
    }
  }
}

.option {
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
    &:hover {
      background-color: #f0f0f0;
    }
}

.selected {
  background-color: #f0f0f0;
}

.virtual-scroll {
  max-height: 300px;
}