<div class="custom-dropdown">
  <div class="selected-option" (click)="toggleDropdown()">
    {{ selectedItemName || "Select an option" }}
    <i
      class="arrow-icon"
      [ngClass]="{ up: isDropdownOpen, down: !isDropdownOpen }"
    ></i>
  </div>
  <ul *ngIf="isDropdownOpen" class="options">
    <li *ngIf="items.length > 5">
      <input
        type="text"
        [formControl]="searchControl"
        placeholder="Search..."
      />
    </li>
    <cdk-virtual-scroll-viewport
      [itemSize]="visibleItemsCount"
      class="virtual-scroll"
      [style.height.px]="visibleItemsCount * 40"
    >
      <li
        *cdkVirtualFor="let item of filteredItems"
        (click)="selectItem(item)"
        [class.selected]="item.id === selectedItemId"
        class="option"
      >
        {{ item.name }}
      </li>
    </cdk-virtual-scroll-viewport>
    <li *ngIf="!filteredItems.length">No results..</li>
  </ul>
</div>
